._5tlh{height:300px;margin:0 auto;width:300px}
.sp_UhNUqbGAQmX_1_5x{background-image:url(/rsrc.php/v3/y5/r/I2Pjf3vnf5X.png);background-size:22px 66px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_UhNUqbGAQmX_1_5x.sx_5c214b{background-position:0 0}.sp_UhNUqbGAQmX_1_5x.sx_65e672{background-position:0 -22px}.sp_UhNUqbGAQmX_1_5x.sx_45ffc1{background-position:0 -44px}

#bootloader_Uu9wa{height:42px;}.bootloader_Uu9wa{display:block!important;}