._63d0{font-size:20px}
._126d{background:#e9ebee;bottom:0;left:0;position:fixed;right:0;top:42px;z-index:299}._126c{box-sizing:border-box;margin:0 auto;padding-left:183px;padding-right:297px;padding-top:47px;width:976px}.sidebarMode ._126d{padding-right:205px}._126b{margin-top:10px;text-align:center}

#bootloader_9640a{height:42px;}.bootloader_9640a{display:block!important;}